.error .container {
    height: 80vh;
    padding: 80px 0;
}

.error .container picture img {
    width: 300px;
}

.error .container .title {
    font-size: 120px;
}

@media (max-width:1200px) {
    .error .container {
        padding: 60px 0;
    }
    .error .container picture img {
        width: 250px;
    }
    .error .container .title {
        font-size: 120px;
    }
}

@media (max-width:992px) {
    .error .container {
        padding: 40px 0;
    }
    .error .container picture img {
        width: 200px;
    }
    .error .container .title {
        font-size: 100px;
    }
}

@media (max-width:768px) {
    .error .container {
        padding: 20px 0;
    }
    .error .container picture img {
        width: 150px;
    }
    .error .container .title {
        font-size: 80px;
    }
}

@media (max-width:640px) {
    .error .container {
        padding: 10px 0;
    }
    .error .container picture img {
        width: 120px;
    }
    .error .container .title {
        font-size: 60px;
    }
}