/* For All */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    overflow-wrap: anywhere !important;
}


/*End All*/


/*For Body*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Condensed', sans-serif;
}


/*End Body*/


/*Variable*/

:root {
    --main-color: #00c16e;
    --alt-main-color: #29eb97;
    --wt-color: #fff;
    --blk-color: #333;
    --grey-color: #eee;
    --alt-grey-color: #ddd;
    --trans: ease-in-out all .3s;
    --box: rgba(14, 18, 22, 0.2) 0px 5px 20px;
    --box1: rgba(20, 22, 24, 0.2) 5px 15px 30px;
}


/*End Variables*/


/*Start Framework*/

a {
    text-decoration: none;
    color: var(--blk-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.hide {
    opacity: 0;
    display: none;
    visibility: hidden;
}

input,
button {
    outline: none;
    border: 2px solid var(--grey-color);
    padding: 12px;
    width: 100%;
    transition: var(--trans);
    font-size: 20px;
}

input:hover,
button:hover,
input:focus,
button:focus {
    cursor: pointer;
    border-color: var(--main-color);
}

input::placeholder {
    font-size: 20px;
    color: var(--alt-grey-color);
}

button {
    background-color: var(--main-color);
    color: var(--wt-color);
    font-size: 20px;
    text-transform: uppercase;
    width: fit-content;
    padding: 12px 40px;
    border-color: var(--main-color);
    border-radius: 5px;
    transition: var(--trans);
}

button:hover {
    background-color: var(--alt-main-color);
}

.center-pos-x {
    left: 50%;
    position: relative;
}

.center-pos-y {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.center-pos {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.center-pos-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.between {
    justify-content: space-between !important;
}

.evenly {
    justify-content: space-evenly !important;
}

.around {
    justify-content: space-around !important;
}

.stretch {
    justify-content: stretch !important;
}

.center {
    justify-content: center !important;
}

.start {
    justify-content: flex-start !important;
}

.end {
    justify-content: flex-end !important;
}

.toggle {
    visibility: visible !important;
    z-index: 100 !important;
    opacity: 1 !important;
}

.week-num {
    font-size: 22px;
    color: var(--main-color);
}

.header-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


/*End Framework*/


/*Any Section*/

section .container {
    display: grid;
    align-items: center;
    justify-content: stretch;
    transition: var(--trans);
    gap: 50px;
}

.container {
    padding: 40px 120px;
}


/*End Container*/


/*Title Section*/

.title.done {
    gap: 10px;
    font-size: 30px;
}

.title i {
    color: var(--main-color);
    transition: var(--trans);
}

.title.done i {
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--wt-color);
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    font-size: 25px;
}


/*End Title*/


/*Photo Section*/

picture.icon {
    width: 100% !important;
    position: relative;
    height: 200px;
    overflow: hidden;
}

picture img {
    width: 100%;
}

picture.icon img {
    width: 100%;
    position: absolute;
    top: -25%;
}


/*End Photo*/


/*Example Section*/

.examples {
    gap: 30px;
}

.example {
    box-shadow: var(--box);
    padding: 20px;
    transition: var(--trans);
    border: 2px solid transparent;
}

.example:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: var(--box1);
    border-color: var(--main-color);
}

.example span {
    font-size: 20px;
}

.example a {
    color: var(--main-color);
}


/*End Example*/


/*Start Responsive*/

@media (max-width:1200px) {
    /*Any Section*/
    section .container {
        gap: 45px;
    }
    .container {
        padding: 35px 100px;
    }
    .week-num {
        font-size: 21px;
    }
    /*End Container*/
    /*Title Section*/
    .title.done i {
        width: 45px;
        height: 45px;
    }
    /*End Title*/
    /*Photo Section*/
    picture.icon {
        height: 190px;
    }
    picture img {
        width: 95%;
    }
    /*End Photo*/
    /*Title Section*/
    .title.done {
        gap: 10px;
        font-size: 28px;
    }
    .title.done i {
        width: 45px;
        height: 45px;
        font-size: 24px;
    }
    /*End Title*/
    /*Example Section*/
    .examples {
        gap: 27px;
    }
    /*End Example*/
}

@media (max-width:992px) {
    /*Any Section*/
    section .container {
        gap: 40px;
    }
    .container {
        padding: 30px 80px;
    }
    button {
        font-size: 18px;
        padding: 10px 30px;
        border-radius: 3px;
    }
    .week-num {
        font-size: 20px;
    }
    /*End Container*/
    /*Title Section*/
    .title.done {
        gap: 8px;
        font-size: 25px;
    }
    .title.done i {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
    /*End Title*/
    /*Photo Section*/
    picture.icon {
        width: 100% !important;
        height: 180px;
    }
    picture img {
        width: 90%;
    }
    /*End Photo*/
    /*Example Section*/
    .examples {
        gap: 25px;
        justify-content: center !important;
    }
    .example {
        padding: 18px;
        gap: 20px;
    }
    .example:hover {
        transform: translateY(-4px);
    }
    .example span {
        font-size: 18px;
    }
    .example .ex-link {
        font-size: 16px;
    }
    /*End Example*/
}

@media (max-width:768px) {
    /*Any Section*/
    .container {
        padding: 20px 40px;
    }
    .flex {
        gap: 15px;
    }
    button {
        font-size: 16px;
        padding: 8px 25px;
    }
    .week-num {
        font-size: 18px;
    }
    /*End Container*/
    /*Title Section*/
    .title.done {
        gap: 6px;
        font-size: 20px;
    }
    .title.done i {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }
    /*End Title*/
    /*Photo Section*/
    picture.icon {
        height: 160px;
    }
    picture img {
        width: 100%;
    }
    /*End Photo*/
    /*Example Section*/
    .examples {
        gap: 20px;
    }
    .example {
        padding: 16px;
        gap: 12px;
    }
    .example:hover {
        transform: translateY(-3px);
    }
    .example span {
        font-size: 15px;
    }
    .example .ex-link {
        font-size: 12px;
    }
    /*End Example*/
}

@media (max-width:640px) {
    /*Any Section*/
    .container {
        padding: 18px 30px;
        /* justify-content: center !important; */
    }
    .flex {
        gap: 10px;
    }
    button {
        font-size: 15px;
        padding: 6px 20px;
    }
    .week-num {
        font-size: 16px;
    }
    /*End Container*/
    /*Title Section*/
    .title.done {
        gap: 4px;
        font-size: 20px;
    }
    .title.done i {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
    /*End Title*/
    /*Photo Section*/
    picture.icon {
        height: 140px;
    }
    /*End Photo*/
    /*Example Section*/
    .examples {
        gap: 15px;
    }
    .example span {
        font-size: 12px;
    }
    .example {
        padding: 12px;
        gap: 10px;
    }
    .example .ex-link {
        font-size: 10px;
    }
    /*End Example*/
}


/*End Responsive*/